@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <h4 style="color:brown">Tbilisi,Georgia</h4>
    <abbr title="Phone">Phone:</abbr>
    (+995)568 27 27 74
</address>
<address>
    <strong><h4 style="color:rebeccapurple">Support:</h4></strong> <a href="zhvaniabeqa97@gmail.com">zhvaniabeqa97@gmail.com</a><br />

</address>
